!.vscode/settings.json
*.log
.data-cache
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.next
.pnp
.pnp.js
.vscode/*
build
coverage
data/movies.json
data/studios.json
data/upcoming.json
dist
dist-ssr
node_modules
npm-debug.log*
out
pnpm-debug.log*
storybook-static
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*

